.circle {
  border-radius: 50%;
}

.block {
  display: block;
}

.border {
  border: 1rpx solid #ccc;
}

.mg-auto {
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.bg-white {
  background-color: #fff;
}

.font-weight {
  font-weight: 650;
}

.w-100 {
  width: 100%;
}

.italic {
  font-style: italic;
}

.pointer {
  cursor: pointer;
}

.content-color {
  background-color: #f8f9f4;
}

.dash-line {
  border: 1px dashed #bba477;
}

button {
  border: 0;
  background-color: transparent;
  outline: none;
}

.color-white {
  color: #fff;
}

.bgc-white {
  background-color: #fff;
}
